/* styles.css */

body {
    font-family: "Arial", sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    color: #333;
}

.form-group {
    position:relative;

    margin-bottom: 20px;
}

.form-label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

.form-input {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-x: auto;
    background: #f4f4f4;
}

.autocomplete-item {
    padding: 8px;
    cursor: pointer;
}

.autocomplete-item.active {
    background-color: #4caf50;
    color: white;
}

.submit-btn {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
}

.submit-btn:hover {
    background-color: #45a049;
}
